@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  @apply font-sf-text cursor-default;
  font-size: 15px;
  font-weight: 400;
  
}

body {
  @apply h-screen;
  margin: 0;
  padding: 0;
}
div {
  @apply h-full;
}
