:root {
  --cursor-pointer: url("../assets/cursors/pointer.png"), pointer;
  --cursor-default: url("../assets/cursors/default.png"), default;
  --cursor-auto: url("../assets/cursors/apple-cursor.png"), auto;
  --cursor-text: url("../assets/cursors/text.png"), text;
  --cursor-crosshair: url("../assets/cursors/crosshair.png"), crosshair;
  --cursor-zoom-in: url("../assets/cursors/zoom-in.png"), zoom-in;
  --cursor-zoom-out: url("../assets/cursors/zoom-out.png"), zoom-out;
  --cursor-help: url("../assets/cursors/help.png"), help;
  --cursor-grab: url("../assets/cursors/grab.png"), grab;
  --cursor-move: url("../assets/cursors/move.png"), move;
  --cursor-wait: url("../assets/cursors/wait.png"), wait;
  --cursor-n-resize: url("../assets/cursors/n-resize.png"), n-resize;
  --cursor-s-resize: url("../assets/cursors/n-resize.png"), s-resize;
  --cursor-w-resize: url("../assets/cursors/w-resize.png"), w-resize;
  --cursor-e-resize: url("../assets/cursors/w-resize.png"), e-resize;
  --cursor-nw-resize: url("../assets/cursors/nw-resize.png"), nw-resize;
  --cursor-se-resize: url("../assets/cursors/nw-resize.png"), se-resize;
  --cursor-ne-resize: url("../assets/cursors/ne-resize.png"), ne-resize;
  --cursor-sw-resize: url("../assets/cursors/ne-resize.png"), sw-resize;
}

.light {
  --wallpaper: url("src/assets/backgrounds/monterey-light.jpg");

  /* Topbar */
  --color-topbar-background: 255, 255, 255, 0.5;
  --color-topbar-text: 17, 17, 17, 1;

  --color-topbar-btn-background: 0, 0, 0, 0;
  --color-topbar-btn-hovered: 0, 0, 0, 0.15;
  --color-topbar-btn-text: 17, 17, 17, 1;

  /* Dropdown Menu */
  --color-topbar-dropdown-background: 255, 255, 255, 0.65;
  --color-topbar-dropdown-text: 17, 17, 17, 1;
  --color-topbar-dropdown-text-inactive: 17, 17, 17, 0.45;
  --color-topbar-dropdown-border: 0, 0, 0, 0.12;
  --color-topbar-dropdown-item-hovered: 0, 122, 255, 1;
  --color-topbar-dropdown-item-text: 255, 255, 255, 1;

  --color-topbar-dropdown-separator: 60, 60, 67, 0.18;

  --color-topbar-dropdown-badge-background: 60, 60, 67, 0.2;

  --color-topbar-dropdown-shortcut-text: 60, 60, 67, 0.4;
  --color-topbar-dropdown-shortcut-text-hovered: 255, 255, 255, 1;

  --color-topbar-dropdown-sub-chevron-text: 0, 0, 0, 1;
  --color-topbar-dropdown-sub-chevron-text-hovered: 255, 255, 255, 1;
  --color-topbar-dropdown-sub-active: 60, 60, 67, 0.15;
}

.dark {
  --wallpaper: url("src/assets/backgrounds/monterey-dark.jpg");

  /* Topbar */
  --color-topbar-background: 0, 0, 0, 0.18;
  --color-topbar-text: 241, 241, 241, 1;

  --color-topbar-btn-background: 0, 0, 0, 0;
  --color-topbar-btn-hovered: 255, 255, 255, 0.2;
  --color-topbar-btn-text: 255, 255, 255, 1;

  /* Dropdown Menu */
  --color-topbar-dropdown-background: 16, 16, 16, 0.45;
  --color-topbar-dropdown-text: 255, 255, 255, 1;
  --color-topbar-dropdown-text-inactive: 255, 255, 255, 0.45;
  --color-topbar-dropdown-border: 0, 0, 0, 0.12;
  --color-topbar-dropdown-item-hovered: 0, 71, 247, 1;
  --color-topbar-dropdown-item-text: 255, 255, 255, 1;

  --color-topbar-dropdown-separator: 255, 255, 255, 0.2;

  --color-topbar-dropdown-badge-background: 235, 235, 245, 0.15;

  --color-topbar-dropdown-shortcut-text: 235, 235, 245, 0.4;
  --color-topbar-dropdown-shortcut-text-hovered: 255, 255, 255, 1;

  --color-topbar-dropdown-sub-chevron-text: 255, 255, 255, 1;
  --color-topbar-dropdown-sub-chevron-text-hovered: 255, 255, 255, 1;
  --color-topbar-dropdown-sub-active: 235, 235, 245, 0.15;
}
