:root {
  --cursor-pointer: url("../assets/cursors/pointer.png"), pointer;
  --cursor-default: url("../assets/cursors/default.png"), default;
  --cursor-auto: url("../assets/cursors/default.png"), auto;
  --cursor-text: url("../assets/cursors/text.png"), text;
  --cursor-crosshair: url("../assets/cursors/crosshair.png"), crosshair;
  --cursor-zoom-in: url("../assets/cursors/zoom-in.png"), zoom-in;
  --cursor-zoom-out: url("../assets/cursors/zoom-out.png"), zoom-out;
  --cursor-help: url("../assets/cursors/help.png"), help;
  --cursor-grab: url("../assets/cursors/grab.png"), grab;
  --cursor-move: url("../assets/cursors/move.png"), move;
  --cursor-wait: url("../assets/cursors/wait.png"), wait;
  --cursor-n-resize: url("../assets/cursors/n-resize.png"), n-resize;
  --cursor-s-resize: url("../assets/cursors/n-resize.png"), s-resize;
  --cursor-w-resize: url("../assets/cursors/w-resize.png"), w-resize;
  --cursor-e-resize: url("../assets/cursors/w-resize.png"), e-resize;
  --cursor-nw-resize: url("../assets/cursors/nw-resize.png"), nw-resize;
  --cursor-se-resize: url("../assets/cursors/nw-resize.png"), se-resize;
  --cursor-ne-resize: url("../assets/cursors/ne-resize.png"), ne-resize;
  --cursor-sw-resize: url("../assets/cursors/ne-resize.png"), sw-resize;
}

.light {
  --wallpaper: url("/src/assets/backgrounds/monterey-light.jpg");

  /* Topbar */
  --color-topbar-background: rgba(255, 255, 255, 0.5);
  --color-topbar-text: rgba(17, 17, 17, 1);

  --color-topbar-btn-background: rgba(0, 0, 0, 0);
  --color-topbar-btn-hovered: rgba(0, 0, 0, 0.15);
  --color-topbar-btn-text: rgba(17, 17, 17, 1);

  /* Dropdown Menu */
  --color-topbar-dropdown-background: rgba(255, 255, 255, 0.65);
  --color-topbar-dropdown-text: rgba(17, 17, 17, 1);
  --color-topbar-dropdown-text-inactive: rgba(17, 17, 17, 0.45);
  --color-topbar-dropdown-border: rgba(0, 0, 0, 0.12);
  --color-topbar-dropdown-title: rgba(0, 0, 0, 0.5);

  --color-topbar-dropdown-item-hovered: rgba(0, 122, 255, 1);
  --color-topbar-dropdown-item-text: rgba(255, 255, 255, 1);

  --color-topbar-dropdown-separator: rgba(60, 60, 67, 0.18);

  --color-topbar-dropdown-badge-background: rgba(60, 60, 67, 0.2);

  --color-topbar-dropdown-shortcut-text: rgba(60, 60, 67, 0.4);
  --color-topbar-dropdown-shortcut-text-hovered: rgba(255, 255, 255, 1);

  --color-topbar-dropdown-sub-chevron-text: rgba(0, 0, 0, 1);
  --color-topbar-dropdown-sub-chevron-text-hovered: rgba(255, 255, 255, 1);
  --color-topbar-dropdown-sub-active: rgba(60, 60, 67, 0.15);

  /* Control Panel */
  --color-topbar-wifi-disabled: rgba(0, 0, 0, 0.4);
  --color-topbar-control-card-btn-inactive: rgba(0, 0, 0, 0.1);
  --bg-topbar-control-card-background: rgba(255, 255, 255, 0.3);

  --color-topbar-control-range-background: rgba(0, 0, 0, 0.1);
  --color-topbar-control-range-active: rgba(249, 250, 251, 0.95);
  --color-topbar-control-range-icon: rgba(0, 0, 0, 1);
}

.dark {
  --wallpaper: url("/src/assets/backgrounds/monterey-dark.jpg");

  /* Topbar */
  --color-topbar-background: rgba(0, 0, 0, 0.18);
  --color-topbar-text: rgba(241, 241, 241, 1);

  --color-topbar-btn-background: rgba(0, 0, 0, 0);
  --color-topbar-btn-hovered: rgba(255, 255, 255, 0.2);
  --color-topbar-btn-text: rgba(255, 255, 255, 1);

  /* Dropdown Menu */
  --color-topbar-dropdown-background: rgba(72, 72, 72, 0.5);
  --color-topbar-dropdown-text: rgba(255, 255, 255, 1);
  --color-topbar-dropdown-text-inactive: rgba(255, 255, 255, 0.45);
  --color-topbar-dropdown-border: rgba(0, 0, 0, 0.12);
  --color-topbar-dropdown-title: rgba(255, 255, 255, 0.5);

  --color-topbar-dropdown-item-hovered: rgba(0, 71, 247, 1);
  --color-topbar-dropdown-item-text: rgba(255, 255, 255, 1);

  --color-topbar-dropdown-separator: rgba(255, 255, 255, 0.2);

  --color-topbar-dropdown-badge-background: rgba(235, 235, 245, 0.15);

  --color-topbar-dropdown-shortcut-text: rgba(235, 235, 245, 0.4);
  --color-topbar-dropdown-shortcut-text-hovered: rgba(255, 255, 255, 1);

  --color-topbar-dropdown-sub-chevron-text: rgba(255, 255, 255, 1);
  --color-topbar-dropdown-sub-chevron-text-hovered: rgba(255, 255, 255, 1);
  --color-topbar-dropdown-sub-active: rgba(235, 235, 245, 0.15);

  /* Control Panel */
  --color-topbar-wifi-disabled: rgba(255, 255, 255, 0.5);
  --color-topbar-control-card-btn-inactive: rgba(255, 255, 255, 0.1);
  --bg-topbar-control-card-background: rgba(10, 10, 10, 0.2);

  --color-topbar-control-range-background: rgba(0, 0, 0, 0.2);
  --color-topbar-control-range-active: rgba(20, 20, 20, 0.35);
  --color-topbar-control-range-icon: rgba(255, 255, 255, 1);
}
